.ProductCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 8px 32px;
  margin-bottom: 24px;
  border-radius: 16px;
  border: .5px solid #d9dff4;

  &__controls {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__description {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  &__price {
    color: #e44d62;
    font-weight: 700;
    font-style: normal;
  }
}

h3 {
  margin: 0 0 8px 0;
}

p{
  margin: 0 0 8px 0;
}

